<!DOCTYPE html>
<!-- QuickNotes index page - simple landing for the app -->
<html>
<head>
    <title>Quicknotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>

    <header class="hero">
    <h1>Quicknotes📝</h1>
    <p>Your personal Notebook</p>
    <nav class="button-groups">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    </header>
    
    <footer>
        © 2026 QuickNotes
    </footer>
</body>
</html>


